In [1]:

import pandas as pd
from sqlalchemy import create_engine

In [4]:
mysql_connection_str = 'mysql+mysqlconnector://studybuddy:J1mpleasehelp!!@localhost/studyBuddy'

df = pd.read_csv("studySpots.csv")
table_name = 'study_spots'
try:
        # Create SQLAlchemy engine
        engine = create_engine(mysql_connection_str)
        # Insert DataFrame into MySQL table
        # if_exists='append' to add to existing table, 'replace' to overwrite
        df.to_sql(table_name, con=engine, index=False, if_exists='replace')
except Exception as e:
        print(f"Error: {e}")

Error: (mysql.connector.errors.ProgrammingError) 1045 (28000): Access denied for user 'studybuddy'@'localhost' (using password: YES)
(Background on this error at: https://sqlalche.me/e/20/f405)